name: Deploy Django to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Verify Python
        run: python3 --version

      - name: Install Python Dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install -r requirements.txt

      - name: Django Migrate
        run: |
          python3 manage.py migrate

      - name: Collect Static
        run: |
          python3 manage.py collectstatic --noinput

      - name: Restart Django using PM2
        run: |
          pm2 delete atom-backend || true
          pm2 start python3 --name atom-backend -- manage.py runserver 0.0.0.0:8000
          pm2 save
